**/.env
*.env
./user-service/node_modules/
./user-service/.env
./food-service/node_modules/
./food-service/.env
./frontend/node_modules/
./frontend/.env
./chat-service/node_modules/
./chat-service/.env
./api keys.txt 
